
.content{
   margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap:15px;
  &>div{
    background-color: transparent;
  }
    &>img{
      width: 100%;
      object-fit: cover;
      height: 300px;
      background-color: transparent;
    }
    }