.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;

   
}

.dialog {
    text-decoration: none;
    color: black
}

.message{
    display: flex;
    align-items: center;
    gap:10px;
    &>img{
        width: 40px;
    }
}


.usersList {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px
}

.messagesList {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.usersList .active {
    color: gold;
}

.userDialog {
    display: flex;
    align-items: center;
    gap: 10px;

    &>img {
        width: 40px;
    }
}