.messages {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog{
    text-decoration: none;
    color:black
}



.usersList{
    padding: 10px;

}

.messagesList{
    padding: 10px;
}

.usersList .active {
    color:gold;
}